<header class="header">
    <nav>
        <div class="logo">
            <a routerLink="/home">NextEvent.<span>com</span></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="menu">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/events">Events</a></li>
            <li><a routerLink="/contact-us">Contact</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/cart">Cart</a></li>
        </ul>
    </nav>
</header>
