<div class="outer">
    <div class="container">
        <h1>name</h1>
        <div class="banner">
            <img src="assets/bnns%20event%20banner%20new.jpg" alt="">
        </div>
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Tickets</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of events">
                <td>{{data.category}}{{data.ticketPrice}}</td>
                <td>
                    <select class="form-select " [(ngModel)]="data.select" (ngModelChange)="onSelect(data)" >
                        <option selected >0</option>
                        <option [value]="select.id" *ngFor="let select of selected" >{{select.id}}</option>


                    </select>
                </td>
                <td>LKR: {{ data.select * data.ticketPrice | number}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Amount Payable</td>
                <td>{{total | number}}</td>
            </tr>
            </tbody>

        </table>

        <button type="button" class="btn btn-primary" >Buy Tickets</button>
    </div>
</div>
