<div class="outer">
    <div class="container">
        <h1>name</h1>
        <div class="banner">
            <img src="assets/bnns%20event%20banner%20new.jpg" alt="">
        </div>
        <div class="card-outer">
            <div class="card-inner" *ngFor="let data of category">
                <div class="ticket-details"> <h3 class="category-name">Ticket : {{data.category}}</h3>
                    <p class="price">Price : {{data.ticketPrice}}</p>
                </div>

                <div class="cart-btn-outer">
                    <button type="button" class="btn btn-primary"  *ngIf="!data.qty" (click)=addTicket(data)>Buy Tickets</button>
                    <div class="cart-add" *ngIf="data.qty">
                        <div class="plus-btn-outer" (click)=plusTicketCount(data)><mat-icon   >add_circle</mat-icon></div>
                        <div class="item-count-outer">{{data.qty ?? '0'}}</div>
                        <div class="minus-btn-outer" (click)=minusTicketCount(data)><mat-icon >do_not_disturb_on</mat-icon></div>
                    </div>
                </div>


            </div>
        </div>




    </div>
</div>
